/* Set background image */
body {
    background-color: transparent;
    background-image: url("../images/tiles-shapes-2617112_1280.webp");
}

main {
    background-color: white;
}

/* Override font-family for <h1> and .navbar-brand */
h1, .navbar-brand {
    font-family: 'Cinzel', serif;
}

/* Make <h1> bold */
h1 {
    font-weight: bold;
}


.spacer {
    height: 60px; 
}

/* Add sticky footer code */
footer {
    position: fixed;
    /* height: 60px; */
    bottom: 0px;
    width: 100%
}

.gregfooter-small {
    height: 10px; 
    background-color: #aaaaaa;
}

.gregfooter-large {
    height: 50px; 
    background-color: #666666;
}

/* Used for image padding */
.portfolio-image-padding {
/*    padding: 25px 25px 25px 25px;  */
    padding: 20px 0px 20px 0px;
}